{% for content in entry.contents %}
  <div class="list-group col-md-6">
    {% if content.icon %}
      <i class="{{ content.icon }}"></i>
    {% endif %}
    
    {% assign i = 1 %}
    {% for item in content.items %}
      {% assign i = i | plus:1 %}
    {% endfor %}

    <h4>{{ content.category }}</h4>

    {% for item in content.items %}
      <div class="list-group-item">
        <h5 class="list-group-item-heading">{{ item.name }}</h5>
        {% if item.level %}
          <p>{{ item.level }}</p>
        {% endif %}
        {% if item.school %}
          <p>{{ item.school }}</p>
        {% endif %}
        {% if item.time %}
          <span class="list-group-time">{{ item.time }}</span>
        {% endif %}
        {% if item.link %}
          <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">
            {% if item.linkname %}{{ item.linkname }}{% else %}DOC{% endif %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endfor %}